.course_list {
  &:hover,
  &:focus {
    color: black !important;
    border-color: black !important;
  }
  @media (min-width: 768px) {
    width: 250px;
  }
}

.ant-dropdown-menu-item{
    
    margin: 0;
    padding: 0;
    &:hover{
        background-color: rgb(208, 17, 176) !important;
    }
    
}

